* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--page-bg);
  color: var(--text-color);
  font-family: var(--font-main);
}

button,
button:active,
button:focus {
  outline-style: none;
  outline-width: 0px;
  cursor: pointer;
  box-shadow: none;
}

.stop-scrolling {
  height: 100vh;
  overflow: hidden;
}

.stop-scrolling-modal {
  height: 100vh;
  overflow: hidden;
}
