:root {
  --container-width: 1200px;
  --container-padding: 15px;

  --font-main: 'Noto Sans', sans-serif;
  --font-accent: 'Bitter', serif;;

  --page-bg: #ffffff;
  --text-color: #292929;
  --text-color-medium: #4c4c4c;
  --text-color-light: #cdcdcd;
  --title-color: #545454;
  --light: #ffffff;
  --accent-light: #f1cdb3;
  --accent-light-hover: #fde6d6;
}
