:root {
  --container-width: 1200px;
  --container-padding: 15px;

  --font-main: 'Noto Sans', sans-serif;
  --font-accent: 'Bitter', serif;;

  --page-bg: #ffffff;
  --text-color: #000000;
  --light: #ffffff;
  --accent-light: #f1cdb3;
}
